:root{
    font-size: 14px;

    /* COLORES GENERALES */
    --white-font:#fff;
    --black-font:#000;

    /* COLORES BRANDING*/
    --primary-brand-color:#1b262c;
    --secondary-brand-color:#3282b8;
    --alternative-brand-color:#0f4c75;
    --light-brand-color: #BBE1FA;


    /*TIPO DE FUENTE*/

    /*FONT SIZE*/
    --font-size-0:0.75rem; /* 11px */
    --font-size-1:1rem; /* 14px */
    --font-size-2:1.2rem; /* 17px */
    --font-size-3:2rem; /* 28px */

}

*{
    margin: 0px;
    padding: 0px;
}

.navbar-theme{
    background-color:var(--primary-brand-color);
}

.navbar-theme-light{
    background-color:var(--light-brand-color);
}

.navbar-theme:hover{
    color: var(--light-brand-color);
}

.navbar-brand{
    color: var(--light-brand-color);
    font-size: var(--font-size-3);
    font-weight: 700;
    cursor: pointer;
} 

.navbar-brand-light{
    color: var(--alternative-brand-color);
    font-size: var(--font-size-3);
    font-weight: 700;
    cursor: pointer;
}


.navbar-brand:hover{
    color: var(--light-brand-color);
}

.navbar-brand-light:hover{
    color: var(--alternative-brand-color);
}

.nav-link{
    color: #fff;
    text-decoration: none;
    display:inline-block;
    padding-top: 1.3rem;
    font-size: var(--font-size-1);
}

.nav-link:after{
    display:block;
    content: '';
    border-bottom: solid 1px var(--light-brand-color);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.nav-link:hover{
    color: var(--white-font);
}

.nav-link:hover:after{
    transform: scale(1);
}


.nav-link-light{
    color: var(--white-font);
    text-decoration: none;
    display:inline-block;
    padding-top: 1.3rem;
    font-size: var(--font-size-1);
    font-weight: 600;
}

.nav-link-light:after{
    display:block;
    content: '';
    border-bottom: solid 1px var(--alternative-brand-color);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.nav-link-light:hover{
    color: var(--alternative-brand-color);
}

.nav-link-light:hover:after{
    transform: scale(1);
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%280, 0, 0, 0.55%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e");
}

.navbar-toggler:focus{
    box-shadow: 0 0 0 0.0rem;
}


@media (max-width: 990px) {
    .nav-link:hover:after{
        transform: scale(0);
    }

    .nav-link:hover{
        color: var(--light-brand-color);
    }

    .nav-link-light:hover:after{
        transform: scale(0);
    }
  }

